*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 100px;
    border-style: none;
    border-radius: 20px;
    background-color: #4681f4;
    color: white;
    padding: 0.8rem;
    font-weight: 600;
    transition: 0.2s ease-in;
}

button:hover{
    background-color: #1c53c1;
    transform: scale(1.03);
}